<div>
  <div class="log_table">
    <%= form_with(model:@post, local:true) do |form| %>
    <div class="">
      <%= form.hidden_field :content %>
      <p><%= @post.content %></p>
    </div>
    <div class="align_right">
      <%= form.submit "つぶやく" , class:'small_btn' %>
      <%= form.submit "やっぱりやめる", name:'back' , class:'small_btn'%>
    </div>
    <% end %>
  </div>
</div>
