<!DOCTYPE html>
<html>
  <head>
    <title>Snsapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <% if notice %>
        <span class="notice"><%= notice %></span>
      <% end %>
      <% if action_name == 'confirm' %>
        <span class="notice">こちらのつぶやきでいいですか？</span>
      <% end %>
      <% if action_name == 'edit' %>
        <span class="notice">つぶやきを変えてください</span>
      <% end %>
      <% if @post.errors.any? %>
      <div>
        <ul class="error_messages">
          <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <%= link_to image_tag('snsapp_logo.png',class:'header-logo'), posts_path %>
    </header>
    <p class="count_letters"><p>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
