<!DOCTYPE html>
<html>
  <head>
    <title>Snsapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= link_to image_tag('snsapp_logo.png',class:'header-logo'), posts_path %>
    </header>
    <script type="text/javascript">
      $(function(){
        $('#post_content').keyup(function(){
          let count = $(this).val().length;
          let $submit = $('.submit_btn')
          $('.count_letters').text(count);
          if( count >= 1 && count <= 140 ){
            $submit.css('background-color','#1fa2f2');
            $submit.removeClass('no_click');
          } else {
            $submit.css('background-color','#9bd1f9');
            $submit.addClass('no_click');
          };
        });
      });
    </script>
    <p class="count_letters"><p>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
